*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    display: flex;
    gap: 5px;
}

.box{
    flex: 1;
    height: 100px;
    width:50%;
    background-color: rgb(56, 145, 175);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 300px){
    .container{
        flex-direction: column;
    }
}